/*TO DO, add media queries, change nav for mobile, change colors*/

* {
  margin: 0;
  padding: 0;
}

body {
	font-size: 20px;
	max-width: 1500px;
}

header {
	border-bottom: .08em solid #adadad;
	color: #adadad;
	height: 5em;
	/*background: url("../images/cover.jpg") no-repeat center top;
  	background-size: cover;
  	height: 700px;*/
}

header h1  {
	margin-left: 1em;
	padding-top: 1em;
	text-transform: uppercase;
	font-family: 'Bellefair', serif;
	font-size: 1.4em;
	color: #adadad;	
	font-weight: 100;
}

h1 {
	display: inline-block;
}

#header {
	text-decoration: none;
	color: #adadad;
}


nav a {
	float: right;
	margin-right: 1em;
	margin-top: -1em;
	text-decoration: none;
	text-transform: lowercase;
	color: #adadad;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

nav a:hover {
	background-color: #7aadff;
	color: white;
	padding: 0 .25em;
}

#container {
	clear: right;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #adadad;	
}

/*HOME PAGE STYLES START HERE*/

/*#index {
	padding-top: 8em;
	font-size: .6em;
	text-transform: lowercase;
}*/

/*.item {
	width: 33%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #adadad;
}

img {
	width: 90%;
	padding-bottom: .25em;
}*/

/*FOOTER STARTS HERE, ADD SOCIAL IMAGES*/

footer {
/*	background-color: #adadad;
*/	
	clear: left;
	border-top: .08em solid #adadad;
	height: 2em;
	width: 100%;
	text-align: right;
	position: fixed;
	bottom: 0;
/*	margin-bottom: 1em;
*/}

footer h6 {
	clear: left;
	padding-right: 1em;
	margin-top: 1em;
	text-transform: lowercase;
	color: #adadad;
	font-size: .6em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/*PORTFOLIO CSS STARTS HERE*/
#wrapper {
  width: 90%;
  margin: 1em auto;
  padding: 1em;
}

/*This is new, why aren't the thumbnails taking this styling? They
were before i started messing with the homepage*/
img {
	width: 100%;
}

#thumbnails {
  clear: both;
  float: left;
  padding: .2em .1em .2em .1em;
  height: 2em;
  width: 3em;
  cursor: pointer;
  margin: 0 auto;
}

/*ABOUT CSS STARTS HERE*/
#contact {
	text-decoration: none;
	color: #7aadff;
	font-size: .8em;
	display: block;
	text-align: left;
	margin: 1.5em 10em;
}

#about {
	text-align: left;
	display: block;
	width: 66%;
	margin: 1.5em 10em;
	font-size: .8em;
}

