
* {
  margin: 0;
  padding: 0;
}

body {
	font-size: 20px;
	max-width: 1500px;
}

header {
	border-bottom: .08em solid #adadad;
	color: #adadad;
	height: 5em;	
}

header h1  {
	margin-left: 1em;
	padding-top: 1em;
	text-transform: uppercase;
	font-family: 'Bellefair', serif;
	font-size: 1.4em;
	color: #adadad;	
	font-weight: 100;
}

h1 {
	display: inline-block;
}

#header {
	text-decoration: none;
	color: #adadad;
}


nav a {
	float: right;
	margin-right: 1em;
	margin-top: -1em;
	text-decoration: none;
	text-transform: lowercase;
	color: #adadad;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

nav a:hover {
	background-color: #7aadff;
	color: white;
	padding: 0 .25em;
}

#container {
	clear: right;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #adadad;	
}

/*FOOTER STARTS HERE, ADD SOCIAL IMAGES*/

footer {
	clear: left;
	border-top: .08em solid #adadad;
	height: 2em;
	width: 100%;
	text-align: right;
	position: fixed;
	bottom: 0;
/*	margin-bottom: 1em;
*/}

footer h6 {
	clear: left;
	padding-right: 1em;
	margin-top: 1em;
	text-transform: lowercase;
	color: #adadad;
	font-size: .6em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/*.fa-facebook {
	width: 100%;
	z-index: 2;
}*/

/*HOME PAGE STYLES START HERE*/
#index-header {
	background: url("../images/cover.jpg") no-repeat center top;
  	background-size: cover;
  	height: 710px; 	
}
/*How do I keep the cover image the same size regardless of browser size?*/
/*Go back and check the image optimization exercises*/

#index-header h1 {
	padding-left: 1em;
	padding-top: 12em;
	color: white;
	font-size: 2em;
/*	padding-bottom: .5em;
*/	width: 100%;
	display: none;
}

#index-header h2 {
	padding-top: .5em;
	padding-left: 3.5em;
	font-size: 1.5em;
	display: none;
	color: white;
	font-family: 'Bellefair', serif;
	text-transform: uppercase;
}


/*#index-header nav a {
	float: none;
	color: white;
	margin-right: .5em;
	display: none;
}

#index-header nav {
		padding-left: 3em;
	
	display: none;
}

#index-header nav a:hover {
	padding: 0;
	color: black;
	font-weight: 400;
	display: none;
}
*/
#index-footer {
	background-color: black;
	border: none;
}


/*THIS IS ALIGNMENT IS ALL FUCKED UP, WHY ISNT MARGIN AUTO WORKING*/


#index {
	clear: both;
	/*width: 100%;*/
	height: 10em;
	margin: 1.5em auto .5em auto;
	font-family: 'Roboto', sans-serif;

}

#index h2 {
	color: black;
	font-size: 1.2em;
}

#index p {
	text-align: left;
	font-size: 1em;
	margin-left: 2.5em;
	margin-top: .5em;
	width: 75%;

}
.click {
	text-decoration: none;
	color: #7aadff;
}

#about {
	text-align: left;
	font-size: 1em;
	margin-left: .5em;
	margin-top: .5em;
	width: 75%;
}

.item {
	float: left;
	width: 30%;
/*	text-align: left;
*/	margin: 0 auto;
	text-decoration: none;
	color: black;
/*	border: .02em solid black;
*/	margin-left: 1.5em;
}

img {
	width: 90%;
	padding-bottom: .25em;
}



/*PORTFOLIO CSS STARTS HERE*/
#wrapper {
  width: 90%;
  margin: 1em auto;
  padding: 1em;
}

img {
	width: 100%;
}

#thumbnails {
  float: left;
  padding: .2em .1em .2em .1em;
  height: 2em;
  width: 3em;
}

/*this is the div class for the big image*/
.sl-image {

}

/*ABOUT CSS STARTS HERE*/
#contact {
	text-decoration: none;
	color: #7aadff;
	font-size: .8em;
	display: block;
	text-align: left;
	margin: 1.5em 10em;
}

#about {
	text-align: left;
	display: block;
	width: 66%;
	margin: 1.5em 10em;
	font-size: .8em;
}

/*STILL NEED TO ADD MEDIA QUERIES