
* {
  margin: 0;
  padding: 0;
}

body {
	font-size: 20px;
	max-width: 1085px;
	margin: 0 auto;
}

header {
	border-bottom: .08em solid #adadad;
	color: #adadad;
	height: 5em;	
}

header h1  {
	margin-left: 1em;
	padding-top: 1em;
	text-transform: uppercase;
	font-family: 'Bellefair', serif;
	font-size: 1.4em;
	color: #adadad;	
	font-weight: 100;
}

h1 {
	display: inline-block;
	color: white;
}

h2 {
	color: white;
}

#header {
	text-decoration: none;
	color: #adadad;
}


nav a {
	float: right;
	margin-right: 1em;
	margin-top: -1em;
	text-decoration: none;
	text-transform: lowercase;
	color: #adadad;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;

}

nav a:hover {
	background-color: #7aadff;
	color: white;
	padding: 0 .25em;
}

#menu {
	float: right;
  	margin-top: -3em;
  	margin-right: .5em;
  	margin-bottom: .5em;
  	text-transform: lowercase;
	color: #adadad;
	font-size: 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  	text-decoration: none;
	display: none;
}

#container {
	clear: right;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: #adadad;	
}

/*FOOTER STARTS HERE*/

footer {
	max-width: 1085px;
	clear: left;
	border-top: .08em solid #adadad;
	height: 2em;
	width: 100%;
	text-align: right;
	position: fixed;
	bottom: 0;
/*	margin-bottom: 1em;
*/}

.fa-facebook, .fa-twitter, .fa-linkedin-square, .fa-github {
	color: #adadad;
	float: left;
	width: 5%;
	font-size: 4em;
	text-decoration: none;
	margin: -.75em 0 1em 1em;
}

/*#social {
	background-color: red;
	overflow: show;
}*/

footer h6 {
	clear: left;
	padding-right: 1em;
	margin-top: 1em;
	text-transform: lowercase;
	color: #adadad;
	font-size: .6em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}




/*.fa-facebook {
	width: 100%;
	z-index: 2;
}*/

/*HOME PAGE STYLES START HERE*/
#index-header {
	background: url("../images/cover.jpg") no-repeat center top;
  	background-size: cover;
  	height: 710px; 	
}
/*How do I keep the cover image the same size regardless of browser size?*/
/*Go back and check the image optimization exercises*/

#index-header h1 {
	padding-left: 1em;
	padding-top: 12em;
	color: white;
	font-size: 2em;
/*	padding-bottom: .5em;
*/	width: 100%;
	display: none;
}

#index-header h2 {
	padding-top: .5em;
	padding-left: 3.5em;
	font-size: 1.5em;
	display: none;
	color: white;
	font-family: 'Bellefair', serif;
	text-transform: uppercase;
}

/*.fa-chevron-down {
	width: 25%;
	font-size: 4em;
	margin: 10em auto;
}*/

#index-footer {
	background-color: black;
	border: none;
}


#index {
	clear: both;
	/*width: 100%;*/
	height: 10em;
	margin: 1.5em auto .5em auto;
	font-family: 'Roboto', sans-serif;

}

#index h2 {
	color: black;
	font-size: 1.2em;
	padding: .5em;
}

#index p {
	text-align: center;
	font-size: 1em;
	margin-left: 2.5em;
	margin-top: .02em;
	width: 75%;
	color: #adadad;

}
.click {
	text-decoration: none;
	color: #7aadff;
}

#about {
	text-align: left;
	font-size: 1em;
	margin-left: .5em;
	margin-top: .5em;
	width: 75%;
}

.item {
/*	float: left;
*/	width: 30%;
	height: 77px;
	display: inline-block;
	text-align: center;
	color: black;
	border-right: .02em solid black;
}

#last {
	border: none;
}

img {
	width: 90%;
	padding-bottom: .25em;
}



/*PORTFOLIO CSS STARTS HERE*/
#wrapper {
  width: 90%;
  margin: 1em auto;
  padding: 1em;
}

#wrapper p {
	width: 66%;
	text-align: left;
	font-size: .8em;
	margin: 0 auto;
}

img {
	width: 100%;
}

#gallery {
  float: left;
  padding: .2em .1em .2em .1em;
  height: 2em;
  width: 3em;
}

.thumbnail {
	cursor: pointer;
}

/*Code from exercise starts here*/

/*.caption {
	position: absolute;
	padding: 2%;
	bottom: 0;
	width: 100%;
	left: 0;
	background-color: rgba(50, 50, 50, .8);
	color: #fff;
	font-size: 16px;
	text-align: center;
	opacity: 0;
	transition: ease 500ms opacity;
}

.thumbnail.open .caption {
	opacity: 1;
}

.no-touchevents .thumbnail:hover .caption {
	opacity: 1;
}

img {
	width: 100%;
	display: block;
}*/

/*this is the div class for the big image*/
/*.sl-image {

}*/

/*ABOUT CSS STARTS HERE*/
#contact {
	text-decoration: none;
	color: #7aadff;
	font-size: .8em;
	display: block;
	text-align: left;
	margin: 1.5em 10em;
}

#about {
	text-align: left;
	display: block;
	width: 66%;
	margin: 1.5em 10em;
	font-size: .8em;
}

#about a {
	text-decoration: none;
	color: #7aadff;
}

/*MEDIA QUERIES START HERE*/

@media only screen and (max-width: 1031px) {
	#index {
		width: 100%;
	}

	.item {
		float: none;
		text-align: center;
		margin: 0 auto;
	}

	#index p {
		font-size: .8em;
	}
  	
  	#index h2 {
  		font-size: 1em;
  	}

  }

  @media only screen and (max-width: 830px) {

  	 #index-header h1 {
		padding-top: 1em;
		color: white;
		font-size: 3em;	
		display: block;
		width: 100%;
	}

  	#index-header h2 {
		color: white;
		font-size: 1.5em;	
		display: block;
		text-align: center;
		padding-left: 1em;
		padding-top: 14.5em;
  	}

  	#index h2 {
  		font-size: .75em;
  	}

  	#index p {
  		font-size: .66em;
  	}
  }

 @media only screen and (max-width: 690px) {
 	#index {
 		height: 300px;
 		width: 100%;
 	}

 	#index-header {
 		height: 23em;
 	}

 	#index-header h1 {
 		width: 100%;
 		font-size: 2.5em;
 		padding: .5em 0;
 		margin: 0;
 		display: block;
 		text-align: center;
	 	}

	 #index-header h2 {
	 	padding: 0;
	 	margin-top: 10em;
	 }	

 	.item {
 		float: none;
 		width: 100%;
 		display: block;
 		margin: 0 auto;
 	}

 	#index h2 {
 		text-align: center;
 		font-size: 1.4em;
 		padding: 0;
 	}

 	#index p {
 		text-align: center;
 		font-size: 1em;
 		margin-left: 4em;
 		padding-top: .25em;
 		padding-bottom: .75em;
 	}

 	#about {
 		margin: 0 auto;
 		padding-top: 2em;
 	}

 	#contact {
 		margin: 0 auto;
 		padding: 1em;
 		width: 66%;
 	}
 }

@media only screen and (max-width: 560px) {

	#index-header h1 {
		font-size: 2em;
	}

	#index-header h2 {
		margin-top: 10.5em;
	}

	#index p {
		margin-left: 3em;

	}

	/*HOW DO I KEEP THE HOVER ON THE ANCHORS? 
	WHEN I MOUSE OFF THE MENU, THE NAV DISAPPEARS*/

	nav {
    display: none;
  }

  	nav a {
    float: none;
    width: auto;
    background-color: white;
  }

    #nav-wrapper:hover nav {
	display: block;
  	color: white;
  	float: right;
  	margin-top: .5em;
}

  	#menu {
  	display: block;
}


	#wrapper p {
		clear: both;
		width: 55%;
		font-size: .9em;
}


}

